a {
    font-style: none;
    color: black;
}

div.header {
    display: inline-block;
}

.direita {
    align-self: right;
}

header {
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 4rem;
    padding: 1rem 0rem;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
}

p.menu {
    display: inline-block;
    margin-left: 11rem;
    font-weight: bold;
    padding: 1rem;
}

p.menu:hover {
    color: #5E89FF;
}